---

{% set palette_black         = "#282828" %}
{% set palette_brightblack   = "#928374" %}
{% set palette_red           = "#CC241D" %}
{% set palette_brightred     = "#FB4934" %}
{% set palette_green         = "#98971A" %}
{% set palette_brightgreen   = "#B8BB26" %}
{% set palette_yellow        = "#D79921" %}
{% set palette_brightyellow  = "#FABD2F" %}
{% set palette_blue          = "#458588" %}
{% set palette_brightblue    = "#83A598" %}
{% set palette_magenta       = "#B16286" %}
{% set palette_brightmagenta = "#D3869B" %}
{% set palette_cyan          = "#689D6A" %}
{% set palette_brightcyan    = "#8EC07C" %}
{% set palette_white         = "#A89984" %}
{% set palette_brightwhite   = "#EBDBB2" %}
theme_palette:
  black:         &palette_black         "{{ palette_black }}"
  brightblack:   &palette_brightblack   "{{ palette_brightblack }}"
  red:           &palette_red           "{{ palette_red }}"
  brightred:     &palette_brightred     "{{ palette_brightred }}"
  green:         &palette_green         "{{ palette_green }}"
  brightgreen:   &palette_brightgreen   "{{ palette_brightgreen }}"
  yellow:        &palette_yellow        "{{ palette_yellow }}"
  brightyellow:  &palette_brightyellow  "{{ palette_brightyellow }}"
  blue:          &palette_blue          "{{ palette_blue }}"
  brightblue:    &palette_brightblue    "{{ palette_brightblue }}"
  magenta:       &palette_magenta       "{{ palette_magenta }}"
  brightmagenta: &palette_brightmagenta "{{ palette_brightmagenta }}"
  cyan:          &palette_cyan          "{{ palette_cyan }}"
  brightcyan:    &palette_brightcyan    "{{ palette_brightcyan }}"
  white:         &palette_white         "{{ palette_white }}"
  brightwhite:   &palette_brightwhite   "{{ palette_brightwhite }}"

theme_background_hard: &background_hard "#1D2021"
theme_background:      &background      "{{ palette_black }}"
theme_background_soft: &background_soft "#32302F"
theme_foreground:      &foreground      "{{ palette_brightwhite }}"

theme_i3:
  client_focused:          &i3_client_focused
    border:                *palette_brightblack
    background:            *palette_brightblack
    text:                  "#FFFFFF"
    indicator:             *palette_brightblack
    child_border:          *palette_brightblack
  client_focused_inactive: &i3_client_focused_inactive
    <<:                    *i3_client_focused
    border:                *palette_black
    background:            *palette_black
    indicator:             *palette_black
    child_border:          *palette_black
  client_unfocused:        &i3_client_unfocused
    <<:                    *i3_client_focused_inactive
  client_urgent:           &i3_client_urgent
    <<:                    *i3_client_focused
    border:                *palette_red
    background:            *palette_red
    indicator:             *palette_red
    child_border:          *palette_red
  client_placeholder:      &i3_client_placeholder
    <<:                    *i3_client_focused
    border:                "#000000"
    background:            "#000000"
    indicator:             "#000000"
    child_border:          "#000000"

  client_background:       &i3_client_background       "#FFFFFF"

theme_i3bar:
  background:         *background
  statusline:         "#FFFFFF"
  separator:          "#666666"

  focused_workspace:  *i3_client_focused
  active_workspace:   *i3_client_focused_inactive
  inactive_workspace:
    <<:               *i3_client_unfocused
    text:             "#AAAAAA"
  urgent_workspace:   *i3_client_urgent
  binding_mode:       *i3_client_urgent

theme_i3status:
  good:                *palette_green
  degraded:            *palette_yellow
  bad:                 *palette_red

  idle_bg:             *palette_black
  idle_fg:             *palette_brightwhite
  info_bg:             *palette_blue
  info_fg:             *palette_black
  good_bg:             *palette_green
  good_fg:             *palette_black
  warning_bg:          *palette_yellow
  warning_fg:          *palette_black
  critical_bg:         *palette_red
  critical_fg:         *palette_black
  alternating_tint_bg: "#111111"
  alternating_tint_fg: "#000000"

theme_rofi:
  background:                 *background
  foreground:                 *foreground
  active_background:          *palette_brightblack
  urgent_background:          *palette_red
  selected_active_background: *palette_brightred
  selected_normal_background: *palette_brightblack
  selected_urgent_background: *palette_red

theme_alacritty:
  background: *background
  foreground: *foreground

  palette:    &alacritty_palette
    color0:   *palette_black
    color8:   *palette_brightblack
    color1:   *palette_red
    color9:   *palette_brightred
    color2:   *palette_green
    color10:  *palette_brightgreen
    color3:   *palette_yellow
    color11:  *palette_brightyellow
    color4:   *palette_blue
    color12:  *palette_brightblue
    color5:   *palette_magenta
    color13:  *palette_brightmagenta
    color6:   *palette_cyan
    color14:  *palette_brightcyan
    color7:   *palette_white
    color15:  *palette_brightwhite

theme_urxvt:
  background: *background
  foreground: *foreground
  scroll:     "#AAAAAA"
  cursor:     "#AAAAAA"

  palette:    &urxvt_palette
    color0:   *palette_black
    color8:   *palette_brightblack
    color1:   *palette_red
    color9:   *palette_brightred
    color2:   *palette_green
    color10:  *palette_brightgreen
    color3:   *palette_yellow
    color11:  *palette_brightyellow
    color4:   *palette_blue
    color12:  *palette_brightblue
    color5:   *palette_magenta
    color13:  *palette_brightmagenta
    color6:   *palette_cyan
    color14:  *palette_brightcyan
    color7:   *palette_white
    color15:  *palette_brightwhite
