export BROWSER=chromium
export EDITOR=vim
export LESS=-R
export PAGER=less
export TERMINAL=urxvt
export VISUAL="$EDITOR"

export GIT_ASKPASS=
export KEYTIMEOUT=1
export SSH_ASKPASS=

export SXHKD_SHELL=/bin/sh
