# Setup Antigen
if [[ ! -f "$HOME/.antigen/antigen.zsh" ]]; then
    curl -fLo "$HOME/.antigen/antigen.zsh" --create-dirs \
        https://git.io/antigen
fi
source "$HOME/.antigen/antigen.zsh"

antigen use oh-my-zsh

antigen bundle command-not-found
antigen bundle pip
antigen bundle vi-mode

export NVM_LAZY_LOAD=true
antigen bundle lukechilds/zsh-nvm

antigen bundle zdharma/fast-syntax-highlighting
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-completions

antigen theme denysdovhan/spaceship-prompt
SPACESHIP_PROMPT_ORDER=(
{% if inventory_hostname == "remote" %}
    custom
{% endif %}
    time
    user
    dir
    host
    git
    exec_time
    line_sep
    vi_mode
    jobs
    exit_code
    char
)
{% if inventory_hostname == "remote" %}
spaceship_custom() {
    [[ -f /var/lock/prevent_idle_terminate || -f /etc/idle_terminate_threshold ]] || return

    local 'custom_status'

    if [[ -f /var/lock/prevent_idle_terminate ]]; then
        custom_status="LOCKED"
    elif [[ -f /etc/idle_terminate_threshold ]]; then
        custom_status="IDLE $(cat /etc/idle_terminate_threshold)"
    fi

    [[ -z "$custom_status" ]] && return

    spaceship::section \
        "red" \
        "$SPACESHIP_PROMPT_DEFAULT_PREFIX" \
        " $custom_status" \
        "$SPACESHIP_PROMPT_DEFAULT_SUFFIX"
}
{% endif %}
SPACESHIP_TIME_SHOW=true
SPACESHIP_TIME_12HR=true
SPACESHIP_EXIT_CODE_SHOW=true

antigen apply

# Set PATH
{% if inventory_hostname == "remote" %}
export PATH="$HOME/.cargo/bin:$HOME/.local/bin:$HOME/sources/opt/llvm7/bin:$PATH"
{% else %}
export PATH="/usr/lib/ccache/bin:/opt/llvm/bin:$HOME/.cargo/bin:$HOME/.local/bin:$PATH"
{% endif %}

{% if theme_name == "wal" %}
# Load wal
if [[ -d "$HOME/.cache/wal" ]]; then
    (cat "$HOME/.cache/wal/sequences" &)
    source "$HOME/.cache/wal/colors-tty.sh"
fi
{% endif %}

# User configuration
setopt nonomatch
{% if inventory_hostname == "remote" %}
source "$HOME/.bashrc" > /dev/null 2>&1
{% endif %}

export KEYTIMEOUT=1
export GIT_ASKPASS=
export SSH_ASKPASS=

alias vim="node -v > /dev/null 2>&1; vim"
alias dryclean="find . \( -name 'node_modules' -o -name 'elm-stuff' -o -name 'target' -o -name 'build' -o -name 'dist' -o -name 'venv' \) -type d -print -prune"
alias clean="find . \( -name 'node_modules' -o -name 'elm-stuff' -o -name 'target' -o -name 'build' -o -name 'dist' -o -name 'venv' \) -type d -print -prune -exec rm -rfI {} \;"
alias ?="lynx https://google.com"

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
