* text=auto eol=lf
*.7z binary
*.bz2 binary
*.eot binary
*.ez binary
*.fla binary
*.flv binary
*.gif binary
*.gz binary
*.ico binary
*.jpeg binary
*.jpg binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.png binary
*.pyc binary
*.swf binary
*.swp binary
*.ttf binary
*.woff binary
*.zip binary
ancestry/** linguist-documentation
secrets/** filter=git-crypt diff=git-crypt
secrets/red/** filter=git-crypt-red diff=git-crypt-red
secrets/yellow/** filter=git-crypt-yellow diff=git-crypt-yellow
secrets/blue/** filter=git-crypt-blue diff=git-crypt-blue
