{
  lib,
  pkgs,
  profile,
  ...
}: {
  {{- range .}}
  {{- $profile := printf "%s" .}}
  {{- $privilege_level := printf "%s" .PrivilegeLevel}}
  is{{camel $privilege_level}}{{camel $profile}} = profile.{{$privilege_level}} == "{{$profile}}";
  {{- end}}
}
