{{$role := printf "%s" . -}}
{
  config,
  lib,
  pkgs,
  ...
}: let
  cfg = config.roles.{{.Type}}.{{$role}};
in {
  options = {
    roles.{{.Type}}.{{$role}} = {
      enable = lib.mkEnableOption "roles.{{.Type}}.{{$role}}";
    };
  };

  config = lib.mkIf cfg.enable {};
}
