{
  config,
  lib,
  pkgs,
  ...
}: let
  cfg = config.roles.{{.Type}}.{{.Role}};
in {
  options = {
    roles.{{.Type}}.{{.Role}} = {
      enable = lib.mkEnableOption "roles.{{.Type}}.{{.Role}}";
    };
  };

  config = lib.mkIf cfg.enable {};
}
