! Extensions
! ==========
!
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,font-size

! Fonts
! =====
!
URxvt.font: xft:Iosevka Term Heavy:size=10
URxvt.allow_bold: true

! Scrolling
! =========
!
URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.scrollStyle: rxvt
URxvt.scrollBar_floating: true
URxvt.scrollColor: {{ dotfiles_urxvt_scroll_color }}
URxvt.scrollBar_right: true
URxvt.thickness: 12
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

! Interaction
! ===========
!
URxvt.cutchars: "\"(),<>[]{}|'`"
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 3

! Key Bindings
! ============
!
! Copy/Paste, same keys as gnome-terminal
! https://stackoverflow.com/questions/39884093
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false
! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:
! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

! Theme/Colors
! ===========
!
URxvt.fading: 0
!URxvt.cursorColor: {{ dotfiles_urxvt_cursor_color }}
URxvt.cursorBlink: true
! hard contrast: *background: {{ dotfiles_color_background_hard }}
*background: {{ dotfiles_urxvt_background }}
!URxvt.depth: 32
URxvt.depth: 24
URxvt.background: [90]{{ dotfiles_urxvt_background }}
!*background: {{ dotfiles_color_black }}
! soft contrast: *background: {{ dotfiles_color_background_soft }}
*foreground: {{ dotfiles_urxvt_foreground }}
! Black + DarkGrey
*color0:  {{ dotfiles_urxvt_color0 }}
*color8:  {{ dotfiles_urxvt_color8 }}
! DarkRed + Red
*color1:  {{ dotfiles_urxvt_color1 }}
*color9:  {{ dotfiles_urxvt_color9 }}
! DarkGreen + Green
*color2:  {{ dotfiles_urxvt_color2 }}
*color10: {{ dotfiles_urxvt_color10 }}
! DarkYellow + Yellow
*color3:  {{ dotfiles_urxvt_color3 }}
*color11: {{ dotfiles_urxvt_color11 }}
! DarkBlue + Blue
*color4:  {{ dotfiles_urxvt_color4 }}
*color12: {{ dotfiles_urxvt_color12 }}
! DarkMagenta + Magenta
*color5:  {{ dotfiles_urxvt_color5 }}
*color13: {{ dotfiles_urxvt_color13 }}
! DarkCyan + Cyan
*color6:  {{ dotfiles_urxvt_color6 }}
*color14: {{ dotfiles_urxvt_color14 }}
! LightGrey + White
*color7:  {{ dotfiles_urxvt_color7 }}
*color15: {{ dotfiles_urxvt_color15 }}
URxvt.color24:  {{ dotfiles_urxvt_color24 }}
URxvt.color66:  {{ dotfiles_urxvt_color66 }}
URxvt.color88:  {{ dotfiles_urxvt_color88 }}
URxvt.color96:  {{ dotfiles_urxvt_color96 }}
URxvt.color100: {{ dotfiles_urxvt_color100 }}
URxvt.color108: {{ dotfiles_urxvt_color108 }}
URxvt.color109: {{ dotfiles_urxvt_color109 }}
URxvt.color130: {{ dotfiles_urxvt_color130 }}
URxvt.color136: {{ dotfiles_urxvt_color136 }}
URxvt.color142: {{ dotfiles_urxvt_color142 }}
URxvt.color167: {{ dotfiles_urxvt_color167 }}
URxvt.color175: {{ dotfiles_urxvt_color175 }}
URxvt.color208: {{ dotfiles_urxvt_color208 }}
URxvt.color214: {{ dotfiles_urxvt_color214 }}
URxvt.color223: {{ dotfiles_urxvt_color223 }}
URxvt.color228: {{ dotfiles_urxvt_color228 }}
URxvt.color229: {{ dotfiles_urxvt_color229 }}
URxvt.color230: {{ dotfiles_urxvt_color230 }}
URxvt.color234: {{ dotfiles_urxvt_color234 }}
URxvt.color235: {{ dotfiles_urxvt_color235 }}
URxvt.color236: {{ dotfiles_urxvt_color236 }}
URxvt.color237: {{ dotfiles_urxvt_color237 }}
URxvt.color239: {{ dotfiles_urxvt_color239 }}
URxvt.color241: {{ dotfiles_urxvt_color241 }}
URxvt.color243: {{ dotfiles_urxvt_color243 }}
URxvt.color244: {{ dotfiles_urxvt_color244 }}
URxvt.color245: {{ dotfiles_urxvt_color245 }}
URxvt.color246: {{ dotfiles_urxvt_color246 }}
URxvt.color248: {{ dotfiles_urxvt_color248 }}
URxvt.color250: {{ dotfiles_urxvt_color250 }}
