icons = "awesome"

[theme]
name = "modern"
[theme.overrides]
idle_bg = "{{ bootstrap_theme_i3status.idle_bg }}"
idle_fg = "{{ bootstrap_theme_i3status.idle_fg }}"
info_bg = "{{ bootstrap_theme_i3status.info_bg }}"
info_fg = "{{ bootstrap_theme_i3status.info_fg }}"
good_bg = "{{ bootstrap_theme_i3status.good_bg }}"
good_fg = "{{ bootstrap_theme_i3status.good_fg }}"
warning_bg = "{{ bootstrap_theme_i3status.warning_bg }}"
warning_fg = "{{ bootstrap_theme_i3status.warning_fg }}"
critical_bg = "{{ bootstrap_theme_i3status.critical_bg }}"
critical_fg = "{{ bootstrap_theme_i3status.critical_fg }}"
separator = "\ue0b2"
# seperator_bg = "auto"
# separator_fg = "auto"
alternating_tint_bg = "{{ bootstrap_theme_i3status.alternating_tint_bg }}"
alternating_tint_fg = "{{ bootstrap_theme_i3status.alternating_tint_fg }}"

[[block]]
block = "disk_space"
path = "/"
alias = "/"
info_type = "available"
unit = "GB"
interval = 20

[[block]]
block = "net"
device = "wlp0s20f3"
ssid = false
signal_strength = true
ip = true
speed_up = false
speed_down = false
graph_up = false
speed_down = false
interval = 5
hide_missing = true
hide_inactive = true

[[block]]
block = "net"
device = "wlp2s0"
ssid = false
signal_strength = true
ip = false
speed_up = false
speed_down = false
graph_up = false
speed_down = false
interval = 5
hide_missing = true
hide_inactive = true

[[block]]
block = "net"
device = "tun0"
speed_up = false
speed_down = false
graph_up = false
speed_down = false
interval = 5

{% if bootstrap_configuration == "laptop" %}
[[block]]
block = "battery"
interval = 10
format = "{percentage}% {time}"

[[block]]
block = "custom"
command = "$HOME/.scripts/df_power_now"
interval = 1
{% endif %}

[[block]]
block = "cpu"
interval = 1
format = "{barchart} {utilization}% {frequency}GHz"

[[block]]
block = "temperature"
collapsed = false
interval = 10
format = "{max}°C"
chip = "*-isa-*"

[[block]]
block = "load"
format = "{1m}"
interval = 1

[[block]]
block = "memory"
format_mem = "{Mug}GB/{MTg}GB {Mupi}%"
format_swap = "{SUg}GB/{STg}GB {SUpi}%"
display_type = "memory"
icons = true
clickable = true
interval = 5

{% if bootstrap_configuration == "laptop" %}
[[block]]
block = "backlight"
{% endif %}

[[block]]
block = "sound"
step_width = 5
show_volume_when_muted = true

[[block]]
block = "uptime"

[[block]]
block = "time"
format = "%a %m/%d/%Y %r"
timezone = "US/Eastern"
interval = 5
