! Extensions
! ==========
!
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,font-size

! Fonts
! =====
!
URxvt.font: xft:Iosevka Term Heavy:size=10
URxvt.allow_bold: true

! Scrolling
! =========
!
URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.scrollStyle: rxvt
URxvt.scrollBar_floating: true
URxvt.scrollColor: {{ bootstrap_theme_urxvt.scroll }}
URxvt.scrollBar_right: true
URxvt.thickness: 12
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

! Interaction
! ===========
!
URxvt.cutchars: "\"(),<>[]{}|'`"
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 3

! Key Bindings
! ============
!
! Copy/Paste, same keys as gnome-terminal
! https://stackoverflow.com/questions/39884093
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false
! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:
! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

! Theme/Colors
! ===========
!
URxvt.fading: 0
!URxvt.cursorColor: {{ bootstrap_theme_urxvt.cursor }}
URxvt.cursorBlink: true
! hard contrast: *background: {{ bootstrap_theme_background_hard }}
*background: {{ bootstrap_theme_urxvt.background }}
!URxvt.depth: 32
URxvt.depth: 24
URxvt.background: [90]{{ bootstrap_theme_urxvt.background }}
!*background: {{ bootstrap_theme_palette.black }}
! soft contrast: *background: {{ bootstrap_theme_background_soft }}
*foreground: {{ bootstrap_theme_urxvt.foreground }}
! Black + DarkGrey
*color0:  {{ bootstrap_theme_urxvt.palette.color0 }}
*color8:  {{ bootstrap_theme_urxvt.palette.color8 }}
! DarkRed + Red
*color1:  {{ bootstrap_theme_urxvt.palette.color1 }}
*color9:  {{ bootstrap_theme_urxvt.palette.color9 }}
! DarkGreen + Green
*color2:  {{ bootstrap_theme_urxvt.palette.color2 }}
*color10: {{ bootstrap_theme_urxvt.palette.color10 }}
! DarkYellow + Yellow
*color3:  {{ bootstrap_theme_urxvt.palette.color3 }}
*color11: {{ bootstrap_theme_urxvt.palette.color11 }}
! DarkBlue + Blue
*color4:  {{ bootstrap_theme_urxvt.palette.color4 }}
*color12: {{ bootstrap_theme_urxvt.palette.color12 }}
! DarkMagenta + Magenta
*color5:  {{ bootstrap_theme_urxvt.palette.color5 }}
*color13: {{ bootstrap_theme_urxvt.palette.color13 }}
! DarkCyan + Cyan
*color6:  {{ bootstrap_theme_urxvt.palette.color6 }}
*color14: {{ bootstrap_theme_urxvt.palette.color14 }}
! LightGrey + White
*color7:  {{ bootstrap_theme_urxvt.palette.color7 }}
*color15: {{ bootstrap_theme_urxvt.palette.color15 }}
URxvt.color24:  {{ bootstrap_theme_urxvt.palette.color24 }}
URxvt.color66:  {{ bootstrap_theme_urxvt.palette.color66 }}
URxvt.color88:  {{ bootstrap_theme_urxvt.palette.color88 }}
URxvt.color96:  {{ bootstrap_theme_urxvt.palette.color96 }}
URxvt.color100: {{ bootstrap_theme_urxvt.palette.color100 }}
URxvt.color108: {{ bootstrap_theme_urxvt.palette.color108 }}
URxvt.color109: {{ bootstrap_theme_urxvt.palette.color109 }}
URxvt.color130: {{ bootstrap_theme_urxvt.palette.color130 }}
URxvt.color136: {{ bootstrap_theme_urxvt.palette.color136 }}
URxvt.color142: {{ bootstrap_theme_urxvt.palette.color142 }}
URxvt.color167: {{ bootstrap_theme_urxvt.palette.color167 }}
URxvt.color175: {{ bootstrap_theme_urxvt.palette.color175 }}
URxvt.color208: {{ bootstrap_theme_urxvt.palette.color208 }}
URxvt.color214: {{ bootstrap_theme_urxvt.palette.color214 }}
URxvt.color223: {{ bootstrap_theme_urxvt.palette.color223 }}
URxvt.color228: {{ bootstrap_theme_urxvt.palette.color228 }}
URxvt.color229: {{ bootstrap_theme_urxvt.palette.color229 }}
URxvt.color230: {{ bootstrap_theme_urxvt.palette.color230 }}
URxvt.color234: {{ bootstrap_theme_urxvt.palette.color234 }}
URxvt.color235: {{ bootstrap_theme_urxvt.palette.color235 }}
URxvt.color236: {{ bootstrap_theme_urxvt.palette.color236 }}
URxvt.color237: {{ bootstrap_theme_urxvt.palette.color237 }}
URxvt.color239: {{ bootstrap_theme_urxvt.palette.color239 }}
URxvt.color241: {{ bootstrap_theme_urxvt.palette.color241 }}
URxvt.color243: {{ bootstrap_theme_urxvt.palette.color243 }}
URxvt.color244: {{ bootstrap_theme_urxvt.palette.color244 }}
URxvt.color245: {{ bootstrap_theme_urxvt.palette.color245 }}
URxvt.color246: {{ bootstrap_theme_urxvt.palette.color246 }}
URxvt.color248: {{ bootstrap_theme_urxvt.palette.color248 }}
URxvt.color250: {{ bootstrap_theme_urxvt.palette.color250 }}
