---

{% set font = "Iosevka Nerd Font" %}
font_i3:
  name: "{{ font }}"
  style: Heavy
  size: 10

font_rofi:
  name: "{{ font }}"
  style: Heavy
  size: 12

font_gtk:
  name: "{{ font }}"
  style: Heavy
  size: 10

font_alacritty:
  name: "{{ font }} Mono"
  style: Heavy
  size: 9

font_urxvt:
  name: "{{ font }} Mono"
  style: Heavy
  size: 10

font_vscode:
  name: "{{ font }} Mono"
  style: bold
  size: 12
