icons = "awesome"

[theme]
name = "modern"
[theme.overrides]
idle_bg = "{{ theme_i3status.idle_bg }}"
idle_fg = "{{ theme_i3status.idle_fg }}"
info_bg = "{{ theme_i3status.info_bg }}"
info_fg = "{{ theme_i3status.info_fg }}"
good_bg = "{{ theme_i3status.good_bg }}"
good_fg = "{{ theme_i3status.good_fg }}"
warning_bg = "{{ theme_i3status.warning_bg }}"
warning_fg = "{{ theme_i3status.warning_fg }}"
critical_bg = "{{ theme_i3status.critical_bg }}"
critical_fg = "{{ theme_i3status.critical_fg }}"
separator = "\ue0b2"
# seperator_bg = "auto"
# separator_fg = "auto"
alternating_tint_bg = "{{ theme_i3status.alternating_tint_bg }}"
alternating_tint_fg = "{{ theme_i3status.alternating_tint_fg }}"

[[block]]
block = "disk_space"
alias = "/"
format = "{icon} {used}{percentage}"
info_type = "used"
interval = 20
path = "/"
unit = "GB"
warning = 80
alert = 90

[[block]]
block = "net"
format = "{ip}"
format_alt = "{ipv6}"
interval = 5

[[block]]
block = "net"
device = "tun0"
format = ""
format_alt = ""
interval = 5

{% if inventory_hostname == "laptop" %}
[[block]]
block = "battery"
format = "{percentage}% {time}"
interval = 10

[[block]]
block = "custom"
command = ''' printf " " && {{ user_root_dir }}/usr/local/bin/df_power_now '''
interval = 1
{% endif %}

[[block]]
block = "cpu"
format = "{utilization}"
interval = 1

[[block]]
block = "temperature"
chip = "*-isa-*"
collapsed = false
format = "{max}"
interval = 10

[[block]]
block = "load"
format = "{1m}"
interval = 1

[[block]]
block = "memory"
clickable = true
display_type = "memory"
format_mem = "{mem_used} {mem_used_percents:1}"
format_swap = "{swap_used} {swap_used_percents:1}"
interval = 5

{% if inventory_hostname == "laptop" %}
[[block]]
block = "backlight"
# invert_icons = true
step_width = 5
{% endif %}

[[block]]
block = "sound"
step_width = 5
show_volume_when_muted = true

[[block]]
block = "sound"
device_kind = "source"
step_width = 5
show_volume_when_muted = true

[[block]]
block = "uptime"
interval = 60

{% if ansible_pkg_mgr == "pacman" %}
[[block]]
block = "pacman"
aur_command = "yay -Qua"
critical_updates_regex = "(linux |linux-lts |linux-zen |linux-hardened )"
format = "{both}"
format_singular = "{both}"
format_up_to_date = "{both}"
interval = 600
{% endif %}

[[block]]
block = "time"
format = "%Y-%m-%d %T"
interval = 1
timezone = "US/Eastern"
