---

{% set font = "CaskaydiaCove Nerd Font" %}
font_i3:
  name: "{{ font }}"
  style:
  size: 10

font_rofi:
  name: "{{ font }}"
  style:
  size: 12

font_gtk:
  name: "{{ font }}"
  style:
  size: 10

font_alacritty:
  name: "{{ font }} Mono"
  style: Regular
  size: 9

font_urxvt:
  name: "{{ font }} Mono"
  style:
  size: 10

font_vscode:
  name: "{{ font }} Mono"
  style: normal
  size: 12
