---

{% set font = "Iosevka Term Heavy" %}
font_i3:
  name: "{{ font }}"
  size: 10

font_rofi:
  name: "{{ font }}"
  size: 12

font_gtk:
  name: "{{ font }}"
  size: 10

font_urxvt:
  name: "{{ font }}"
  size: 10
