---

{% set font = "JetBrainsMono Nerd Font" %}
font_i3:
  name: "{{ font }}"
  style: Bold
  size: 10

font_rofi:
  name: "{{ font }}"
  style: Bold
  size: 12

font_gtk:
  name: "{{ font }}"
  style: Bold
  size: 10

font_alacritty:
  name: "{{ font }} Mono"
  style: Bold
  size: 9

font_urxvt:
  name: "{{ font }} Mono"
  style: Bold
  size: 10
