{
    "workbench.colorTheme": "One Dark Pro",
    "workbench.iconTheme": "material-icon-theme",
    "telemetry.enableCrashReporter": false,
    "telemetry.enableTelemetry": false,
    "editor.bracketPairColorization.enabled": true,
    "editor.guides.bracketPairs": "active",
    "editor.fontFamily": "{{ font_vscode.name }}, 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback'",
    "editor.fontLigatures": true,
    "editor.fontWeight": "{{ font_vscode.style }}",
    "editor.fontSize": {{ font_vscode.size }},
    "terminal.integrated.fontFamily": "{{ font_vscode.name }}",
    "terminal.integrated.fontWeight": "{{ font_vscode.style }}",
    "terminal.integrated.fontSize": {{ font_vscode.size }},
    "tws.highlightTrailingWhiteSpace": true,
    "vim.smartRelativeLine": true,
    "vim.leader": "\\",
    "vim.normalModeKeyBindings": [
        {
            "before": [
                "<leader>",
                "f"
            ],
            "commands": [
                "editor.action.formatDocument"
            ]
        },
    ],
    "vim.visualModeKeyBindings": [
        {
            "before": [
                ">"
            ],
            "commands": [
                "editor.action.indentLines"
            ]
        },
        {
            "before": [
                "<"
            ],
            "commands": [
                "editor.action.outdentLines"
            ]
        },
        {
            "before": [
                "g",
                "s"
            ],
            "commands": [
                "editor.action.sortLinesAscending",
                "extension.vim_escape",
            ]
        },
        {
            "before": [
                "<leader>",
                "f"
            ],
            "commands": [
                "editor.action.formatSelection",
                "extension.vim_escape",
            ]
        },
    ],
    "files.watcherExclude": {
        "**/.git/objects/**": true,
        "**/.git/subtree-cache/**": true,
        "**/node_modules/*/**": true
    },
}
