{
  lib,
  pkgs,
  profile,
  ...
}:
{
  {{- range .}}
  {{- $profile := printf "%s" .NixString}}
  {{- $privilege_level := printf "%s" .PrivilegeLevel.NixString}}
  is{{camelcase $privilege_level}}{{camelcase $profile}} = profile.{{$privilege_level}} == "{{$profile}}";
  {{- end}}
}
