{{$role := printf "%s" .NixString -}}
{{$privilege_level := printf "%s" .PrivilegeLevel.NixString -}}
{
  config,
  lib,
  pkgs,
  ...
}:
let
  cfg = config.roles.{{$privilege_level}}.{{$role}};
in
{
  options = {
    roles.{{$privilege_level}}.{{$role}} = {
      enable = lib.mkEnableOption "roles.{{$privilege_level}}.{{$role}}";
    };
  };

  config = lib.mkIf cfg.enable { };
}
