[Configuration]
MiscAlwaysShowTabs=FALSE
MiscBell=FALSE
MiscBellUrgent=FALSE
MiscBordersDefault=TRUE
MiscCursorBlinks=FALSE
MiscCursorShape=TERMINAL_CURSOR_SHAPE_BLOCK
MiscDefaultGeometry=80x24
MiscInheritGeometry=FALSE
MiscMenubarDefault=FALSE
MiscMouseAutohide=FALSE
MiscMouseWheelZoom=TRUE
MiscToolbarDefault=FALSE
MiscConfirmClose=TRUE
MiscCycleTabs=TRUE
MiscTabCloseButtons=TRUE
MiscTabCloseMiddleClick=TRUE
MiscTabPosition=GTK_POS_TOP
MiscHighlightUrls=TRUE
MiscMiddleClickOpensUri=FALSE
MiscCopyOnSelect=FALSE
MiscShowRelaunchDialog=TRUE
MiscRewrapOnResize=TRUE
MiscUseShiftArrowsToScroll=FALSE
MiscSlimTabs=FALSE
MiscNewTabAdjacent=FALSE
ColorBackground={{ dotfiles_xfce4_terminal_background }}
FontName=Iosevka Term Heavy 10
RunCustomCommand=TRUE
CustomCommand=zsh
ScrollingBar=TERMINAL_SCROLLBAR_NONE
MiscSearchDialogOpacity=100
MiscShowUnsafePasteDialog=TRUE
ColorForeground={{ dotfiles_xfce4_terminal_foreground }}
ColorPalette={{ dotfiles_xfce4_terminal_color_palette0 }};{{ dotfiles_xfce4_terminal_color_palette1 }};{{ dotfiles_xfce4_terminal_color_palette2 }};{{ dotfiles_xfce4_terminal_color_palette3 }};{{ dotfiles_xfce4_terminal_color_palette4 }};{{ dotfiles_xfce4_terminal_color_palette5 }};{{ dotfiles_xfce4_terminal_color_palette6 }};{{ dotfiles_xfce4_terminal_color_palette7 }};{{ dotfiles_xfce4_terminal_color_palette8 }};{{ dotfiles_xfce4_terminal_color_palette9 }};{{ dotfiles_xfce4_terminal_color_palette10 }};{{ dotfiles_xfce4_terminal_color_palette11 }};{{ dotfiles_xfce4_terminal_color_palette12 }};{{ dotfiles_xfce4_terminal_color_palette13 }};{{ dotfiles_xfce4_terminal_color_palette14 }};{{ dotfiles_xfce4_terminal_color_palette15 }}
TabActivityColor={{ dotfiles_xfce4_terminal_tab_activity_color }}

