[Configuration]
MiscAlwaysShowTabs=FALSE
MiscBell=FALSE
MiscBellUrgent=FALSE
MiscBordersDefault=TRUE
MiscCursorBlinks=FALSE
MiscCursorShape=TERMINAL_CURSOR_SHAPE_BLOCK
MiscDefaultGeometry=80x24
MiscInheritGeometry=FALSE
MiscMenubarDefault=FALSE
MiscMouseAutohide=FALSE
MiscMouseWheelZoom=TRUE
MiscToolbarDefault=FALSE
MiscConfirmClose=TRUE
MiscCycleTabs=TRUE
MiscTabCloseButtons=TRUE
MiscTabCloseMiddleClick=TRUE
MiscTabPosition=GTK_POS_TOP
MiscHighlightUrls=TRUE
MiscMiddleClickOpensUri=FALSE
MiscCopyOnSelect=FALSE
MiscShowRelaunchDialog=TRUE
MiscRewrapOnResize=TRUE
MiscUseShiftArrowsToScroll=FALSE
MiscSlimTabs=FALSE
MiscNewTabAdjacent=FALSE
ColorBackground={{ bootstrap_theme_xfce4_terminal.background }}
FontName=Iosevka Term Heavy 10
RunCustomCommand=TRUE
CustomCommand=zsh
ScrollingBar=TERMINAL_SCROLLBAR_NONE
MiscSearchDialogOpacity=100
MiscShowUnsafePasteDialog=TRUE
ColorForeground={{ bootstrap_theme_xfce4_terminal.foreground }}
ColorPalette={{ bootstrap_theme_xfce4_terminal.palette.color0 }};{{ bootstrap_theme_xfce4_terminal.palette.color1 }};{{ bootstrap_theme_xfce4_terminal.palette.color2 }};{{ bootstrap_theme_xfce4_terminal.palette.color3 }};{{ bootstrap_theme_xfce4_terminal.palette.color4 }};{{ bootstrap_theme_xfce4_terminal.palette.color5 }};{{ bootstrap_theme_xfce4_terminal.palette.color6 }};{{ bootstrap_theme_xfce4_terminal.palette.color7 }};{{ bootstrap_theme_xfce4_terminal.palette.color8 }};{{ bootstrap_theme_xfce4_terminal.palette.color9 }};{{ bootstrap_theme_xfce4_terminal.palette.color10 }};{{ bootstrap_theme_xfce4_terminal.palette.color11 }};{{ bootstrap_theme_xfce4_terminal.palette.color12 }};{{ bootstrap_theme_xfce4_terminal.palette.color13 }};{{ bootstrap_theme_xfce4_terminal.palette.color14 }};{{ bootstrap_theme_xfce4_terminal.palette.color15 }}
TabActivityColor={{ bootstrap_theme_xfce4_terminal.tab_activity }}

