{
    "workbench.colorTheme": "One Dark Pro",
    "workbench.iconTheme": "material-icon-theme",
    "telemetry.enableCrashReporter": false,
    "telemetry.enableTelemetry": false,
    "editor.fontFamily": "{{ font_vscode.name }}, 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback'",
    "editor.fontLigatures": true,
    "editor.fontWeight": "{{ font_vscode.style }}",
    "editor.fontSize": {{ font_vscode.size }},
    "terminal.integrated.fontFamily": "{{ font_vscode.name }}",
    "terminal.integrated.fontWeight": "{{ font_vscode.style }}",
    "terminal.integrated.fontSize": {{ font_vscode.size }},
    "vim.leader": "\\",
    "vim.normalModeKeyBindings": [
        {
            "before": [
                "<leader>",
                "f"
            ],
            "commands": [
                "editor.action.formatDocument"
            ]
        },
    ],
    "vim.visualModeKeyBindings": [
        {
            "before": [
                ">"
            ],
            "commands": [
                "editor.action.indentLines"
            ]
        },
        {
            "before": [
                "<"
            ],
            "commands": [
                "editor.action.outdentLines"
            ]
        },
        {
            "before": [
                "g",
                "s"
            ],
            "commands": [
                "editor.action.sortLinesAscending",
            ],
            "after": [
                "<esc>"
            ]
        },
        {
            "before": [
                "<leader>",
                "f"
            ],
            "commands": [
                "editor.action.formatSelection"
            ],
            "after": [
                "<esc>"
            ]
        },
    ],
    "workbench.editorAssociations": [
        {
            "viewType": "jupyter.notebook.ipynb",
            "filenamePattern": "*.ipynb"
        }
    ],
    "files.watcherExclude": {
        "**/.git/objects/**": true,
        "**/.git/subtree-cache/**": true,
        "**/node_modules/*/**": true
    },
}
